node_modules
coverage
build
dist
.env
repolinter-results.*

logs
*.log
*.local
_local/
npm-debug.log*

.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

# CDK context should normally be committed, but since this is a public repository
# we have chosen to omit it
cdk.context.json